NEXT_PUBLIC_APPSYNC_GRAPHQL_URL=https://your-appsync-endpoint.amazonaws.com/graphql
NEXT_PUBLIC_WEB_ORIGIN=http://localhost:3001
NEXT_PUBLIC_COGNITO_USER_POOL_ID=ap-northeast-2_xxxxxxxx
NEXT_PUBLIC_COGNITO_USER_POOL_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_COGNITO_DOMAIN=your-domain.auth.ap-northeast-2.amazoncognito.com
